footer.footer--home {
	clear: both;
	padding: 60px 0px 100px 0px;
}

footer.footer--steps {
	clear: both;
}

.kpmg-disclaimer {
	background: $Purple;
	color: white;
	padding: 3em 2em;
	p {
			font-family: HelveticaNeueLTStd;
			font-weight: 100;
			font-size: 1.6rem;
	}
}

.secondary-disclaimer {
	background: white;
	padding: 45px 0px;
	p {
		color: grey;
		font-family: Arial, sans-serif;
		font-size: 16px;
	}
}
