.group {
  margin: 5em auto;

  .entry-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      text-align: center;
      margin: 0 15em;

      .small {
        color: $Blue;
      }
    }

    .disclaimer {
      width: 100%;
      margin: 2em auto 4em;
      text-align: center;
    }

    #kpmg-reserve-a-group-ajax-error-area {
      width: 100%;
      text-align: center;
      color: $Blue;
    }

    #addtogroupparent {
      width: 70%;

      #kpmg_seat_ajax-results-area {
        border: 1px solid;
        padding: 1em 0;
        font-size: 18px;
        display: none;
        margin-top: -21px;

        div.item {
          padding: 1em;
          cursor: pointer;

          &:hover {
            background-color: $Blue;
            color: #FFF;
          }
        }
      }

      input {
        margin: 1em auto;
        height: 60px;
        width: 100%;
        font-size: 21px;
        background: #ebf0f3 url('assets/images/mail.png') no-repeat scroll 7px 13px;
        padding-left:50px;
      }
    }

    #kpmg-reserve-a-group-form {
        border-top: 2px dotted #d3d3d3;
        width: 100%;
        margin: 3em 4em 0;
        text-align: center;
        .show {

          #reserveagroupparent1 {
            display: flex;
            flex-wrap: wrap;
            padding: 2em 0 0;

            &:after {
              content: 'HOST\00a0\00a0\25BC';
              font-weight: 800;
              font-size: 18px;
              width: 50%;
              text-align: right;
              order: 2;
              border-bottom: 2px solid black;
              padding-bottom: 1em;
            }

            .display-name {
              text-transform: uppercase;
              font-size: 21px;
              font-weight: 800;
              width: 50%;
              text-align: left;
              order: 1;
              border-bottom: 2px solid black;
              padding-bottom: 1em;
            }

            .guest-name {
              order: 3;
              text-align:left;
              font-weight: 800;
              width: 35%;
              margin-top: 1em;
              border-bottom: 2px dotted #d3d3d3;
              padding: 1em 0;
              &:before {
                content: "+";
                color: red;
                margin-right: 5px;
                vertical-align: 10%;
              }
            }

            .guest-email {
              order: 4;
              text-align:left;
              width: 65%;
              margin-top: 1em;
              border-bottom: 2px dotted #d3d3d3;
              padding: 1em 0;
            }

            .display-email {
              display: none;
            }
          }

          #reserveagroupparent2, #reserveagroupparent3, #reserveagroupparent4, #reserveagroupparent5, #reserveagroupparent6, #reserveagroupparent7, #reserveagroupparent8, .reserveagroupparent_add_area div {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 2px dotted #d3d3d3;

            .display-name, .guest-name {
              text-align:left;
              font-weight: 800;

              padding: 1em 0;
              &:before {
                content: "+";
                color: red;
                margin-right: 5px;
                vertical-align: 10%;
              }
            }

            .display-email, .guest-email {
              text-align:left;
              padding: 1em 0;
            }

            .remove_field {
              color: #AAA;
              text-decoration: none;
              font-size: 2.5em;
              line-height: 16px;
              padding: 12px 0;
              &:hover {
                color: #DDD;
              }
            }

            .display-name {order: 1; width: 35%;}
            .display-email {order: 2; width: 60%;}
            .remove_field {order: 3; width: 5%;}
            .guest-name {order: 4; width: 35%}
            .guest-email {order: 5; width: 65%}
          }

          p.remaining-people {
            color: $Purple;
            font-size: 2rem;
            margin: 3em 0 1em;
            font-weight: 400;
          }
        }
    }

    button#kpmg-add-to-group-button {
      color: #FFF;
      font-size: 20px;
      background: $Blue;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 800;
      height: 60px;
      padding: 0 1em;
      border: none;
      margin: 1em;
      transition: all .2s ease-in-out;

      &[disabled], &[disabled]:hover {
        background: #CCC;
      }

      &:hover {
        background: #3cb0fd;
        text-decoration: none;
      }
    }

  }


}
