.my-info {
  .info-box {
    margin: 6em 0 2em;
    border: 3px solid;
    padding: 40px;
    position: relative;

    .calendar {
      text-align: center;
      img {
        height: 18em;
      }
    }

    .topleftconcave, .botleftconcave, .toprightconcave, .botrightconcave {
      position: absolute;
      background: #FFF;
      width: 25px;
      height: 35px;
    }

    .topleftconcave {
      top: -3px;
      left: -3px;
      border-bottom-right-radius:500px;
      border-bottom: solid 3px;
      border-right: solid 3px;
      border-top: solid 3px white;
    }
    .botleftconcave {
      bottom: -3px;
      left: -3px;
      border-top-right-radius: 500px;
      border-top: 3px solid;
      border-right: 3px solid;
      border-bottom: solid 3px white;
    }
    .toprightconcave {
      top: -3px;
      right: -3px;
      border-bottom-left-radius:500px;
      border-bottom: solid 3px;
      border-left: solid 3px;
      border-top: solid 3px white;
    }
    .botrightconcave {
      bottom: -3px;
      right: -3px;
      border-top-left-radius: 500px;
      border-top: 3px solid;
      border-left: 3px solid;
      border-bottom: solid 3px white;
    }

    .mapInfo {
        padding: 0;
    }

    .address, .schedule {
      margin: 1em 0;
    }
  }

  .disclaimer {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .info-form {
    margin: 4em auto;
    .row {
      margin: 1em auto;
      border-bottom: 2px dotted #d3d3d3;
      padding-top: 3em;
      padding-bottom: 3em;
      &.attend {
        form {
          display: flex;
          flex-wrap: wrap;

          button {
            width: 18%;
            margin: 1em auto;
          }
        }
      }

      &.diet {
        form {
          display: flex;
          flex-wrap: wrap;

          textarea {
            display: block;
            width: 100%;
            margin: auto 6px;
            border: 1px solid black;
            height: 10em;
            font-size: 24px;
            padding: 1em;
            order: 3;
          }

          button {
            margin: 1em auto;
            width: 18%;
            order: 2
          }

          select:not([multiple]) {
            order: 1;
          }
        }
      }

      &.guest {
        form {
          display: flex;
          flex-wrap: wrap;
          select[name="updateguest[has_guest]"] {
            order: 1;
          }

          button {
            margin: 1em auto;
            width: 18%;
            order: 2
          }

          input {
            background-color: #ebf0f3;
            margin: 0.5em auto;
            padding: 14px;
            width: 49%;
            font-size: 21px;

            &[name="updateguest[guest_first_name]"] {
              order: 3;
            }

            &[name="updateguest[guest_last_name]"] {
              order: 4;
            }
          }

          select[name="updateguest[guest_dietary_requirements]"] {
            width: 100%;
            margin: 0.5em 6px;
            order: 5;
          }

          textarea {
            display: block;
            width: 100%;
            margin: 0.5em 6px;
            border: 1px solid black;
            height: 10em;
            font-size: 24px;
            padding: 1em;
            order: 6;
          }
        }
      }

      &.group {
        p.remaining-people {
          color: $Purple;
          font-size: 2rem;
          margin: 1em;
          font-weight: 400;
          text-align: center;
        }

        .group-information {
          border-top: 2px solid black;
          margin: 2em auto;
          display: flex;
          flex-wrap: wrap;

          .show {
            width: 100%
          }

          a:not(.remove_field) {
            margin: 1em 6px;
            color: black;
            font-size: 20px;
            background: #FFF;
            padding: 15px 0;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 800;
            width: 100%;
            transition: all .2s ease-in-out;
            border: 1px solid black;
            text-align: center;
            &:hover {
              background: $Blue;
              border-color: $Blue;
              color: #FFF;
              text-decoration: none;
            }

            &[disabled] {
              background: #CCC;
            }
          }
        }

        #reserveagroupparent1, #reserveagroupparent2, #reserveagroupparent3, #reserveagroupparent4, #reserveagroupparent5, #reserveagroupparent6, #reserveagroupparent7, #reserveagroupparent8 {
          display: flex;
          flex-wrap: wrap;
          border-bottom: 2px dotted #d3d3d3;

          .display-name, .guest-name {
            text-align:left;
            font-weight: 800;

            padding: 1em 0;
            &:before {
              content: "+";
              color: red;
              margin-right: 5px;
              vertical-align: 10%;
            }
          }

          .display-email, .guest-email {
            text-align:left;
            padding: 1em 0;
          }

          .remove_field {
            color: #AAA;
            text-decoration: none;
            font-size: 2.5em;
            line-height: 16px;
            padding: 12px 0;
            &:hover {
              color: #DDD;
            }
          }

          .display-name {order: 1; width: 35%;}
          .display-email {order: 2; width: 60%;}
          .remove_field {order: 3; width: 5%;}
          .guest-name {order: 4; width: 35%}
          .guest-email {order: 5; width: 65%}
        }
      }
    }

    select:not([multiple]) {
      width: 80%;
    }

    button {
      color: #FFF;
      font-size: 20px;
      background: $Blue;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 800;
      border: none;
      transition: all .2s ease-in-out;
      &[disabled], &[disabled]:hover {
        background: #CCC;
      }

      &:hover {
        background: #3cb0fd;
        text-decoration: none;
      }
    }

  }

  .cancel {
    padding-bottom: 3em;
    button {
      margin: 1em 6px;
      color: black;
      font-size: 20px;
      background: #FFF;
      padding: 15px 0;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 800;
      width: 100%;
      transition: all .2s ease-in-out;
      border: 1px solid black;
      text-align: center;
      &:hover {
        background: $Blue;
        border-color: $Blue;
        color: #FFF;
        text-decoration: none;
      }

      &[disabled] {
        background: #CCC;
      }
    }
  }

  h4 {
    font-weight: bold;
    text-transform: uppercase;
  }

  h5 {
    font-size: 21px;
    font-weight: lighter;
  }
}

@media all and (max-width: 768px) {
  .my-info {
    .info-form select:not([multiple]) {
      width: 100%;
    }

    .info-form button {
      width: 100% !important;
      height: 3em;
    }
  }
}
