


section.login-steps {
	main {
		padding: 45px 0px;
	}
	.entry-content p {
		text-align: center;
	}
}

.step-title {
	text-align: center;
	padding: 45px 0px 15px 0px;
	h1 {
		font-family: 'Octagonal';
		font-weight: bold;
    padding: 10px 0;
		font-size: 6em;
		text-transform: uppercase;
	}
	h2 {
		color: $Pink;
		font-size: 2rem;
	}
}

#login {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
	width: 400px;
	input {
		background-color: #ebf0f3;
		margin-bottom: 15px;
		padding: 10px;
	}
}

.account-sign-up {
	margin-top: 15px;
	font-size: 2rem;
	color: black;
	font-family: 'HelveticaNeueLTStd', sans-serif;
	font-weight: bold;
}

main.steps #kpmg-registration-form {
	margin: 0 auto;
	display: block;
	text-align: center;
	@extend .clearfix;
	p {
		font-family: 'HelveticaNeueLTStd', sans-serif;
		font-weight: lighter;

		&.requireLabel {
			text-transform: uppercase;
			margin-bottom: 2em;
		}
	}

	&.signup-01 {
		p {
			margin: 1em auto;
			width: 100%;
		}
	}

	.passwordLabel {
		margin: 2em 1em;
		font-size: 10px;
	}

	.passwordMinLabel {
		font-weight: bold;
	}

	h3 {
		font-size: 5rem;
	}
	input {
		background-color: #ebf0f3;
		margin-bottom: 15px;
		padding: 10px;
		margin: 0px 10px;
		font-size: 21px;
	}
	.bring-guest, .guest-info {
		margin: 15px 0px;
	}
	.guest-info {
		input {
			width: 40%;
			margin: 20px 0px 0px 0px;
		}
	}

	textarea {
		width: 50%;
		border: 1px solid black;
		height: 10em;
		font-size: 24px;
		padding: 1em;
	}

	button[value="BACK"] {
		background-color: $Grey;
		border-color: $Grey;
		&:before, &:after {
			background-color: $Grey;
			border-color: $Grey;
		}

		&:hover, &:focus {
			background-color: #FFF;
			color: $Grey;
			text-decoration: none;
	    &:before, &:after {
				background-color: #FFF;
				color: $Grey;
				text-decoration: none;
			}
		}
	}

	button[value="BACK"], button[value="NEXT"] {
		width: 150px;
	}
}

main.steps-2 #kpmg-registration-form {
	select:not([multiple]) {
		width: 50%;
	}

 button[value="BACK"], button[value="NEXT"] {
	margin: 1em;
}

	.bring-guest, .guest-info {
		h3:last-of-type {
			display: block;
			font-family: 'HelveticaNeueLTStd', sans-serif;
			font-weight: bold;
			font-size: 2rem;
		}
	}

	.guest-info {
		width: 50%;
		margin: 1em auto;

		input[type=text] {
			width: 47%;
		}
	}
}

.attend-info {
	p:first-of-type {
		display: none;
	}
	select:not([multiple]) {
		width: 50%;
	}
}



main.steps-register {
	#kpmg-registration-form {
		width: 600px;
		display: flex;
		flex-wrap: wrap;
	}

	#kpmg-registration-ajax-results-area {
		border: 1px solid;
    width: 32em;
		position: absolute;
    padding: 1em 0;
    font-size: 18px;
    display: none;
    margin-top: 11em;
    text-align: left;
		background-color: #FFF;

		div.item {
			padding: 1em;
			cursor: pointer;

			&:hover {
				background-color: $Blue;
				color: #FFF;
			}
		}
	}

	#kpmg-registration-form input {
		margin: 10px 0px;
		width: 47%;

		&.email_address {
			width: 96%;
		}
	}
	input[type=password] {
		width: 80%;
	}
	p:last-of-type {
		font-size: 1.5rem;
	}

	#kpmg-registration-ajax-error-area {
		margin: 2em auto;
		font-weight: bold;
	}
}
