
/* Responsive at Small at ≥768px */

@media all and (max-width: 768px) {

	/* Home and Navigation */

	.nav--container--right {
		width: 100%;
	}

	.call-to-action {
		width: 100%;
	}

	header {
		margin-top: 0px;
	}

	section.home--intro .small_wrapper {
		max-width: 100%;
	}

	.fast-forward, .mini-forward, .marker {
		display: none;
	}

	.home--location .home--circle {
		right: 32%;
		top: -75px;
	}

	.home--entertainment .entertainment--special--container {
		display: none;
	}

	.home--location .location--container {
		padding-top: 100px;
	}

	.home--location .location--container--left {
		width: 100%;
		text-align: center;
	}

	.home--entertainment {
		display: none;
	}

	.home--faq-toy .faq-left, .home--faq-toy .toy-right {
		width: 100%;
		margin-bottom: 0px;
	}

	.home--faq-toy .kpmg-disclaimer {
		margin-top: 15px;
	}

	.home--faq-toy .toy-right a, .home--faq-toy .faq-left a {
		font-size: 50px;
	}

	.home--location .location--container--left {
		margin-bottom: 50px;
	}

	section.home--faq-toy .wrapper {
		max-width: 100%;
	}

.header--home {
	.call-to-action {
		h3 {
				font-size: 2.2rem;
		}
	}
}

	/* Login and Step Pages */



	form#kpmg-registration-form {
		select {
			width: 100%;
		}
	}

	main.steps-2 #kpmg-registration-form {

		select:not([multiple]), textarea {
			width: 100%;
		}

		.guest-diet-info {
			select:not([multiple]) {
				width: 97%;
			}
		}

		.guest-info {
			width: 98%;

			input[type=text] {
				width: 96%;
			}
		}
	}
	main.steps #kpmg-registration-form {
		.guest-info input {
			width: 80%;
		}

		&.signup-01 {
			p {
				width: 100%;
			}
		}
	}


	main.steps-register #kpmg-registration-form {
		width: 90%;
		input[type=text] {
			width: 96%;

			&.email_address {
				width: 96%;
			}
		}

		input[type=password] {
			width: 96%;
		}
	}

	/* FAQ PAGE */

	.question--container {
		width: 70%;
	}

	.group .entry-content p {
		margin: 0;
	}

	.group .entry-content #addtogroupparent input { font-size: 13px; }

	.group .entry-content #addtogroupparent #kpmg_seat_ajax-results-area { font-size: 12px; margin-top: 12px; }

	.group .entry-content #kpmg-reserve-a-group-form .show #reserveagroupparent1 .display-name { font-size: 18px; }

}
