


/* Import Fonts */

@font-face {
	font-family: 'HelveticaNeueLTStd';
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.eot');
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.woff') format('woff'),url(),
	url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd';
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.eot');
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.woff') format('woff'),
		 url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd';
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.eot');
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.woff') format('woff'),
		 url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd';
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Hv.eot');
	src: url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Hv.woff') format('woff'),
	url('fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Hv.svg#HelveticaNeueLTStd-Hv') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lot';
	src: url('fonts/Lot/LOT.eot');
	src: url('fonts/Lot/LOT.woff') format('woff'),
		 url('fonts/Lot/LOT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Octagonal';
	src: url('fonts/Octagonal/Octagonal-Bold.eot');
	src: url('fonts/Octagonal/Octagonal-Bold.woff') format('woff'),
		 url('fonts/Octagonal/Octagonal-Bold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Octagonal';
	src: url('fonts/Octagonal/Octagonal.eot');
	src: url('fonts/Octagonal/Octagonal.woff') format('woff'),
		 url('fonts/Octagonal/Octagonal.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Octagonal';
	src: url('fonts/OctagonalLight/OctagonalLight.eot');
	src: url('fonts/OctagonalLight/OctagonalLight.woff') format('woff'),
		 url('fonts/OctagonalLight/OctagonalLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Octagonal';
	src: url('fonts/OctagonalUltraLight/OctagonalUltraLight.eot');
	src: url('fonts/OctagonalUltraLight/OctagonalUltraLight.woff') format('woff'),
		 url('fonts/OctagonalUltraLight/OctagonalUltraLight.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

/* headers */
h1, h2, h3, h4, h5, ul, p {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 5rem;
	font-family: 'HelveticaNeueLTStd', sans-serif;
	font-weight: bold;
	letter-spacing: 5px;
}

h2 {
	font-size: 4rem;
	font-family: 'HelveticaNeueLTStd', sans-serif;
	font-weight: bold;
}

h3 {
	font-size: 3rem;
	font-family: 'Octagonal';
	font-weight: bold;
	text-transform: uppercase;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-family: 'HelveticaNeueLTStd', sans-serif;
	font-size: 1.7rem;
	font-weight: normal;
}

p {
	font-size: 1.5rem;
	font-family: 'HelveticaNeueLTStd', sans-serif;
	font-weight: lighter;
}

a {
	color: #BA209B;
	text-decoration: none;
	&:hover {
		color: #D424B1;
		text-decoration: none !important;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}


/*
====================================
Custom classes for unversial use
====================================
*/
.yellow {
	color: $Blue;
	vertical-align: baseline;
	font-weight: bold;
	margin-left: 2px;
	font-size: 1.8em;
}

.purple {
	color: $Purple;
}

.boldItalic {
	font-weight: bold;
	font-style: italic;
}

.boldUnderline {
	font-weight: 800;
	text-decoration: underline;
}
